extends ./layouts/layout

block content
  #main
    #splash-left
      p track bin
      button choose tracks
    #splash-right
      img.bg(src="img/track.fw.png")
      img.tmb(src="https://placehold.it/80x80")
      img.tmb(src="https://placehold.it/80x80")
      img.tmb(src="https://placehold.it/80x80")
