extends ./layouts/layout

block page-title
  title Track Bin

block content
  #main
    #splash-left
      p track bin
      a(href="playlist.html")
        button choose tracks
    #splash-right
      img.bg(src="img/track.fw.png")
      img.tmb(src="https://placehold.it/80x80")
      img.tmb(src="https://placehold.it/80x80")
      img.tmb(src="https://placehold.it/80x80")
