extends ./layouts/layout

block page-title
  title Track Bin - Playlister
  
block head
  p click an album to add its tracks to the bin  

block content
  #playlistmain
    section#thumb-scroller
      img(src="http://placehold.it/50x50")
      img(src="http://placehold.it/50x50")
      img(src="http://placehold.it/50x50")
      img(src="http://placehold.it/50x50")
      img(src="http://placehold.it/50x50")
      img(src="http://placehold.it/50x50")
      img(src="http://placehold.it/50x50")
      img(src="http://placehold.it/50x50")
      img(src="http://placehold.it/50x50")
      img(src="http://placehold.it/50x50")
      img(src="http://placehold.it/50x50")
      img(src="http://placehold.it/50x50")
      img(src="http://placehold.it/50x50")
      img(src="http://placehold.it/50x50")
      img(src="http://placehold.it/50x50")
      img(src="http://placehold.it/50x50")
      img(src="http://placehold.it/50x50")
      img(src="http://placehold.it/50x50")
      
    section#binarea
      #trackbin
      #buttons
        button clear tracks
        button submit bin
