doctype html
html
  head
    link(rel="stylesheet", type="text/css" href="css/main.css")
    block page-title
  body
    header
      block head
    block content
      #main
    footer
      block foot
        p &copy; 2015 Chris Brown.
