doctype html
html
  head
    link(rel="stylesheet", type="text/css" href="css/main.css")
  body
    block head
      header
    block content
      #main
    block foot
      footer
        p &copy; 2015 Chris Brown.
